.comments-container {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 60px 0;
}

.comments-section {
  width: 680px;
  padding: 12px;
  background-color: rgb(247, 247, 246);
  border: solid 0.8px rgb(232, 232, 232);
}

.comments-right-col {
  height: 160px;
  width: 350px;
  margin: 0 18px;
  background-color: rosybrown;
}
