/* TODO Add site wide styles */
:root {
  --nav-bar-height: 66px;
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

a:hover {
  color: rgb(3, 115, 98);
}

.underline:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
