/* TODO Add site wide styles */
:root {
  --nav-bar-height: 66px;
  height: 100%;
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
