/* TODO Add site wide styles */
@import 'spacers.css';
@import 'icon.css';
@import 'button.css';
@import 'border.css';


:root {
  --nav-bar-height: 66px;
  --body-background-color: #F7F7F6;
  --btn-bg: #fff;
  --btn-border: rgb(209, 209, 209);
  --btn-text: rgb(34, 34, 34);
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

a:hover {
  color: rgb(3, 115, 98);
}

.underline:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.grid-container {
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1366px;
}

.grid-row {
  margin: 0 -18px;
}

.bg-grey-100 {
  background-color: #FBFBFA;
}
