/*Margin left*/
.ml1 {
  margin-left: 6px;
}

.ml2 {
  margin-left: 12px;
}

/*Margin right*/
.mr4 {
  margin-right: 24px;
}

.mt4 {
  margin-top: 24px;
}

.pl2 {
  padding-left: 12px;
}

.pt6 {
  padding-top: 36px;
}

.pb3 {
  padding-bottom: 18px;
}

.pb8 {
  padding-bottom: 48px;
}

.py6 {
  padding-top: 36px;
  padding-bottom: 36px;
}
