.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  border-bottom: 0.8px solid rgb(232, 232, 232);
}

.nav-section {
  padding: 0px 24px;
}

.nav-button {
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #282828;
  text-decoration: none;
}

#discover {
  margin-right: 12px;
}

#login {
  margin-left: 16px;
}
