.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 400px;
  height: 540px;
  border: 0.8px solid #F1EEEA;
  background-color: white;
  position: absolute;

  /*This is a common way to center an item on the page */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.form-container > * {
  padding-bottom: 18px;
}

.form-header {
  font-size: 26px;
}

.input, .btn-primary{
  width: 338px;
  padding: 12px;
}

.btn-primary {
  background-color: rgb(2, 136, 88);
  color: white;
  border: none;
  transition: all 0.2s;
}

.btn-primary:hover {
  background-color: rgb(1, 87, 56);
  cursor: pointer;
}
