#project-container {
  background-color: var(--body-background-color);
}

#project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 42px;
  margin-bottom: 36px;
}

#project-body {
  display: flex;
  height: 850px;
  max-width: 1300px;
  margin: 0 auto;
}

/* Left side*/
#project-left-col {
  height: 460px;
  width: 810px;
  margin: 0 18px;
}

#project-image-conatiner, #project-video, #project-image {
  height: inherit;
  width: inherit;
  background-color: teal;
}

#project-minor-info {
  width: inherit;
  height: 60px;
  padding: 16px 0;
}

#project-minor-info > span {
  margin-right: 18px;
  font-size: 12px;
}

/* Right side*/
#project-pledge {
  height: 425px;
  width: 400px;
  margin: 0 18px;
  background-color: blanchedalmond;
}

#project-progress-bar {
  height: 6px;
  background-color: rgb(232, 232, 232);
}

#project-progress {
  height: inherit;
  background-color: #009E74;
}

#project-info-container {
  display: flex;
  flex-direction: column;
}

.project-main-info-header {
  font-size: 28px;
}
