@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

.hide{
  display:none;
}

.component-container{
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 1000px;
  display:flex;
  font-family: 'Nunito Sans', sans-serif;
}

.component-header{
  color:rgb(59, 59, 59);
}

.faq-left{
  width: 700px;
}

.faq-right{
  margin-left: 30px;
  border-left: 2px solid rgb(179, 179, 179);
  padding: 30px;
  height: 150px;
}

.faq-right span{
  font-family: 'Nunito Sans', sans-serif;
}

.faq-right button{
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(80, 80, 80);
  color:whitesmoke;
  border:none;
  font-family: 'Nunito Sans', sans-serif;
}
.faq-right button:hover{
  cursor: pointer;
  background-color: rgb(22, 22, 22);
}

.question-container{
  width:600px;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 1px;
  padding: 20px;
  margin: 15px;
}

.question-container:hover{
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.question-preview{
  display: flex;
  justify-content: space-between;

}

.question{
  font-family: 'Nunito Sans', sans-serif;
}

.answer{
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 30px;
}
